name: Tuesday updates

on:
  schedule:
    # Once every Tuesday at 8 PM
    - cron: 0 20 * * 2
  push:
    branches:
      - main

jobs:
  updates:
    name: Update README
    runs-on: ubuntu-latest
    steps:
      - name: Update this repo's README
        uses: JasonEtco/rss-to-readme@v1
        with:
          feed-url: https://www.davidjourno.dev/rss
          readme-section: feed
          branch: main
          empty-commits: "false"
          template: "#### [{{ title }}]({{ link }}) \n<em>{{ contentSnippet }}</em>\n\n"
